
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static 'app.css'%}" />
    <title>Taskmanager+</title>
  </head>
  <body class="home_background">
    <header>
      <h1 class="home_title">
        Taskmanager+
      </h1>

      <nav>
        <ul class="navigation">
          {% if user.is_authenticated %}
          <dl class="sign_up">
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
          </dl>
          <dl class="sign_up">
            <a href="{% url 'list_projects' %}">My projects</a>
          </dl>
          <dl class="sign_up">
            <a href="{% url 'logout' %}">Logout</a>
          </dl>
          {% if user.is_staff %}
          <dl class="admin_button">
            <a href="{% url 'admin:index' %}">Admin</a></dl>
          {% endif %} 
          {% else %}
          <dl class="sign_up">
            <a href="{% url 'login' %}">Login</a></dl>
          <dl class="sign_up">
            <a href="{% url 'signup' %}">Signup</a>
          </dl>
          {% endif %}
        </ul>
      </nav>
      <p class="home_quote">For all your task managing needs!
      </p>
    </header>
    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
