{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <div>
        <h1 class="project_title">{{ project.name }}</h1>
        {{ project.description|markdownify }}
        <p1 class="project_detail"><a href="{% url 'create_task' %}">Create a new task</a></p1>
        {% if project.tasks.all|length %}
            <table>
                <thead>
                    <tr>
                        <th class= "project_detail">Name</th>
                        <th class= "project_detail">Assignee</th>
                        <th class= "project_detail">Start date</th>
                        <th class= "project_detail">Due date</th>
                        <th class= "project_detail">Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td class= "project_detail">{{ task.name }}</td>
                            <td class= "project_detail">{{ task.assignee }}</td>
                            <td class= "project_detail">{{ task.start_date|date:"m-d-Y" }}</td>
                            <td class= "project_detail">{{ task.due_date|date:"m-d-Y" }}</td>
                            <td class="project_detail">{{ task.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
