{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
        <button class="list_button"><a class="list_link" href="{% url 'create_project' %}">Create a new project</a></button>
        </div>
        {% if not project_list %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table class="project_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td>
                                <a class="tasks" href="{% url 'show_project' project.id %}">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        {% endif %}
    </table>
    </div>
{% endblock content %}

